@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.display-flex {
    display: flex;
}

body {
    color: white;
    background-color: #1A0B2E;
}

.btn-primary {
    background-image: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    padding: 12px 16px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

/* Navbar styles */
.navbar {
    max-width: 1200px;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.brand-color {
    background-image: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    color: transparent;
    background-clip: text;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.hamburger {
    display: none;
}


/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;

}

.banner-img-container {
    position: relative;
}

.banner-microphone {
    position: absolute;
    top: 40%;
    left: 34%;
    text-align: center;
}

.banner-img {
    margin-top: 100px;
    margin-bottom: 40px;
    width: 100%;

}

.banner-title {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 8px;
}

.banner-btn {
    margin-top: 24px;
    margin-bottom: 104px;
}

#transparent-btn {
    background-color: transparent;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    border: 1px solid #00FF88;
    color: #00FF88;
}

.banner-btn img {
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 16px;
    font-weight: 900;
}

/* responsive media query for mobile device */
@media screen and (max-width:576px) {
    .brand {
        margin-left: 20px;
    }

    .nav-links,
    .btn-container {
        display: none;
    }

    .hamburger {
        display: inline;
        margin-right: 20px;
    }

    .banner {
        background-image: url('../assets/hero-bg.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: 100%;
        height: 120vh;
    }
}