@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}


body {
    color: white;
    background-color: #1A0B2E;
}

.btn-primary {
    background-image: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    padding: 12px 16px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

main>section {
    margin-top: 120px;
}

.section-title {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

p {
    color: rgba(255, 255, 255, 0.722);
}

/* Navbar styles */
.navbar {
    max-width: 1200px;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.brand-color {
    background-image: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    color: transparent;
    background-clip: text;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.hamburger {
    display: none;
}


/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
}

.banner-img-container {
    position: relative;
}

.new-btn {
    color: #1A0B2E;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #00FF88;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    padding: 8px 16px;
    border-radius: 25px;
    position: absolute;
    position: top right;
    top: 100px;
    left: 245px;
    border: none;
    cursor: pointer;
}

.banner-microphone {
    position: absolute;
    top: 40%;
    left: 34%;
    text-align: center;
}

.banner-img {
    margin-top: 100px;
    margin-bottom: 40px;
    width: 100%;

}

.banner-title {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 8px;
}

.banner-btn {
    margin-top: 24px;
}

#transparent-btn {
    background-color: transparent;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    border: 1px solid #00FF88;
    color: #00FF88;
}

.banner-btn img {
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 16px;
    font-weight: 900;
}

/* about the podcast section styles */

.about-content p {
    color: #ffffff;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 32px;
}

.about-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /* margin-top: 150px; */
    justify-items: center;
    margin-top: 130px;
}

.about-card {
    text-align: center;
}

.about-card h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

/* Why Choose TechWave section styles */
.why-choose {
    /* background-color: rgba(53, 17, 101, 0.4); */
    margin-top: 120px;
}

.why-choose-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.option-card-1 {
    grid-row: span 2;
}

.option-card-2 {
    grid-column: span 2;
}

.option-card-3 {
    grid-column: span 2;
}

.option-card-4 {
    grid-column: span 2;
}


.card {
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.why-choose-container img,
h3,
p {
    margin-top: 16px;
}


.why-choose-container h3 {
    font-size: 1.5rem;
}


/* Featured Episodes section styles */
.episodes-container {
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 370px;
}

.episode iframe {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.episode-content {
    padding: 24px;
    background-color: #250D44;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.time-container {

    align-items: center;
    column-gap: 5px;
    margin-top: 12px;
    color: #00FF88;
}

/* Meet the host styles */
.host-container {
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    gap: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 130px;
}

.social-icon {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.social-icon a {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #533C72;
    box-sizing: border-box;
    flex-shrink: 0;

    margin-right: 8px;
}

.social-icon img {
    height: 20px;
    display: block;
}

/* footer section styles */
.footer-section {
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    padding: 120px;
    width: 100%;
}

.footer-icon-container {
    max-width: 650px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;

    /* border: 2px solid red; */
}


.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin: 20px;
}


.footer-section {
    text-align: center;
}


/* Extra styles css */
.navbar .nav-links li:hover {
    border: 2px solid #00FF88;
    padding: 8px 16px;
    border-radius: 25px;
    transform: translateY(10px);
}

button:hover {
    background-color: #00FF88;
}

/* responsive media query for mobile device */
@media screen and (max-width:576px) {
    .brand {
        margin-left: 20px;
    }

    .nav-links,
    .btn-container {
        display: none;
    }

    .hamburger {
        display: inline;
        margin-right: 20px;
    }

    .banner-title,
    .banner-description {
        margin: 25px;
        text-align: center;
    }

    .banner {
        background-image: url('../assets/hero-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* height: 100vh; */
        width: 100vw;
        margin: 3px auto 0;
        position: relative;
    }

    .why-choose-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 20px;
    }

    .option-card-1 {
        grid-row: auto;
    }

    .option-card-2 {
        grid-column: auto;
    }

    .option-card-3 {
        grid-column: auto;
    }

    .option-card-4 {
        grid-column: auto;
    }

    .episodes-container,
    .host-container {
        flex-direction: column;
        max-width: 90%;
        margin: 10px auto;
        justify-content: center;
    }

    .host-description {
        text-align: center;
        gap: 24px;
    }

    .social-icon {
        max-width: 150px;
        margin: 16px auto;
    }

    .footer-icon-container,
    .about-cards-container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        gap: 10px;
        width: 100%;
        /* border: 2px solid red; */
    }

    .footer-section {
        background-image: url('../assets/footer-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* height: 100vh; */
        width: 100vw;
        margin: 3px auto 0;
        position: relative;
    }

    .brand {
        margin: 0;
    }
}